In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
pip install findspark

Requirement already satisfied: findspark in /Users/madhavipandey/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/madhavipandey/anaconda3/lib/python3.11/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/madhavipandey/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install install-jdk

Requirement already satisfied: install-jdk in /Users/madhavipandey/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType
import time
import jdk

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

24/02/20 12:43:13 WARN Utils: Your hostname, Mrityunjays-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.4.30 instead (on interface en0)
24/02/20 12:43:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/20 12:43:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [7]:
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

24/02/20 12:43:24 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [8]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [9]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
avg = """
SELECT
  YEAR(date),
  ROUND(AVG(price), 2) AS price
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR(date)
ORDER BY YEAR(date)
"""
spark.sql(avg).show(4)

+----------+---------+
|year(date)|    price|
+----------+---------+
|      2019| 300263.7|
|      2020|298353.78|
|      2021|301819.44|
|      2022|296363.88|
+----------+---------+

In [10]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
bedroom_avg = """SELECT
                ROUND(AVG(price), 2) AS price,
                YEAR(date_built)
                FROM home_sales
                WHERE bedrooms = 3 and
                bathrooms = 3
                GROUP BY YEAR(date_built)

    """
spark.sql(bedroom_avg).show()

+---------+----------------+
|    price|year(date_built)|
+---------+----------------+
| 288770.3|            2015|
|295962.27|            2013|
|290852.27|            2014|
|293683.19|            2012|
|290555.07|            2016|
|292859.62|            2010|
|291117.47|            2011|
|292676.79|            2017|
+---------+----------------+

In [11]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql(""" 
 SELECT
 ROUND(AVG(price), 2) AS price,
 YEAR(date_built) AS year
 FROM home_sales
 WHERE bedrooms = 3 and
 bathrooms = 3 and 
 floors = 2 and
 sqft_lot >= 2000
 GROUP BY YEAR(date_built)
                       
""").show()

+---------+----+
|    price|year|
+---------+----+
|291788.36|2015|
|295142.13|2013|
|294195.13|2014|
|295858.68|2012|
| 287812.6|2016|
|280447.23|2010|
|281413.45|2011|
|282026.59|2017|
+---------+----+

In [13]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""select  ROUND(AVG(price), 2) AS price,
          view
          FROM home_sales
          GROUP BY view
          having ROUND(AVG(price), 2) >=  350000
          Order by view desc """).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----------+----+
|     price|view|
+----------+----+
|1061201.42|  99|
|1053739.33|  98|
|1129040.15|  97|
|1017815.92|  96|
| 1054325.6|  95|
| 1033536.2|  94|
|1026006.06|  93|
| 970402.55|  92|
|1137372.73|  91|
|1062654.16|  90|
|1107839.15|  89|
|1031719.35|  88|
| 1072285.2|  87|
|1070444.25|  86|
|1056336.74|  85|
|1117233.13|  84|
|1033965.93|  83|
| 1063498.0|  82|
|1053472.79|  81|
| 991767.38|  80|
+----------+----+
only showing top 20 rows

--- 0.2534778118133545 seconds ---

In [16]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [17]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [18]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql("""select  ROUND(AVG(price), 2) AS price,
          view
          FROM home_sales
          GROUP BY view
          having ROUND(AVG(price), 2) >=  350000
          Order by view desc """).show()



print("--- %s seconds ---" % (time.time() - start_time))

+----------+----+
|     price|view|
+----------+----+
|1061201.42|  99|
|1053739.33|  98|
|1129040.15|  97|
|1017815.92|  96|
| 1054325.6|  95|
| 1033536.2|  94|
|1026006.06|  93|
| 970402.55|  92|
|1137372.73|  91|
|1062654.16|  90|
|1107839.15|  89|
|1031719.35|  88|
| 1072285.2|  87|
|1070444.25|  86|
|1056336.74|  85|
|1117233.13|  84|
|1033965.93|  83|
| 1063498.0|  82|
|1053472.79|  81|
| 991767.38|  80|
+----------+----+
only showing top 20 rows

--- 0.13668394088745117 seconds ---

In [19]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy('date_built').parquet('p_home_sales',mode='overwrite')

In [22]:
# 11. Read the formatted parquet data.
p_df=spark.read.parquet('p_home_sales')

In [30]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('p_home_sales')

In [34]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("""select  ROUND(AVG(price), 2) AS price,
          view
          FROM p_home_sales
          GROUP BY view
          having ROUND(AVG(price), 2) >=  350000
          Order by view desc """).show()



print("--- %s seconds ---" % (time.time() - start_time))

+----------+----+
|     price|view|
+----------+----+
|1061201.42|  99|
|1053739.33|  98|
|1129040.15|  97|
|1017815.92|  96|
| 1054325.6|  95|
| 1033536.2|  94|
|1026006.06|  93|
| 970402.55|  92|
|1137372.73|  91|
|1062654.16|  90|
|1107839.15|  89|
|1031719.35|  88|
| 1072285.2|  87|
|1070444.25|  86|
|1056336.74|  85|
|1117233.13|  84|
|1033965.93|  83|
| 1063498.0|  82|
|1053472.79|  81|
| 991767.38|  80|
+----------+----+
only showing top 20 rows

--- 0.27284908294677734 seconds ---

In [37]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table p_home_sales")

DataFrame[]

In [38]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("p_home_sales")

False